.form-input-color {
    margin-left: 30px;
    font-size: 14px;
}

.input-color {
    accent-color: rgb(169, 231, 54);
}

.title {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.label-title {
    font-family: sans-serif;
    font-size: 16px;
}